* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 62.5%;
  font-family: Trap;
}

@font-face {
  font-family: 'Trap';
  src: url('/static/trap-regular.eot');
  src: url('/static/trap-regular.eot?#iefix') format('embedded-opentype'),
    url('/static/trap-regular.woff2') format('woff2'),
    url('/static/trap-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/static/trap-light.woff2') format('woff2'),
    url('/static/trap-light.woff') format('woff'),
    url('/static/trap-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brand';
  src: url('/static/Brand.woff2') format('woff2'),
    url('/static/Brand.woff') format('woff'),
    url('/static/Brand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

a {
  font-family: Trap;
  color: #000;
  font-weight: bold;

  text-decoration: none;
}

.annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 0.9;

  cursor: pointer;
  width: 10px;
  height: 10px;
  /* border: 1px solid rgb(184, 182, 182); */
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  background: #fff;

  transition: 0.1s;
}

.annotation:hover {
  transform: scale(2);

  /* width: 20px; */
  /* height: 20px; */
}

.loader-heading {
  width: max-content;

  font-family: Brand;
  font-size: 32px;
}

.description {
  &-heading {
    font-family: Brand;
    font-size: 42px;

    margin-bottom: 16px;
  }

  &-text {
    font-family: Trap;
    font-size: 16px;
    line-height: 22px;

    margin-bottom: 20px;
  }

  &-image {
    margin-top: 15px;
    object-fit: cover;
    background-size: cover;

    transition: 0.25s filter;

    &:hover {
      cursor: pointer;
      filter: invert(1);
    }
  }

  &-credits {
    font-family: Trap;
    font-size: 12px;
    color: rgb(92, 93, 95);
    font-weight: 600;

    margin-bottom: 8px;
  }
}

/* Rhino Types Box */
.rhino-types {
  position: absolute;
  bottom: 2%;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 4rem;

  z-index: 100;

  h5 {
    cursor: pointer;

    font-family: Brand;
    font-size: 1.8rem;
  }
}

.rhino-type-box {
  position: absolute;
  top: 20%;
  right: 5%;

  width: 18%;
  height: 50%;

  display: flex;
  flex-direction: column;

  z-index: 200;
}

.sources {
  position: absolute;
  bottom: 2%;
  right: 2%;

  display: flex;
  flex-direction: column;

  text-align: right;

  h6 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  a {
    color: grey;
  }

  z-index: 200;
}

.mt-auto {
  margin-top: auto;
}

.w-30 {
  width: 30%;
}

.row {
  margin-top: 0;
  margin-right: 60px;
}
