* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Trap';
  src: url('/static/trap-regular.eot');
  src: url('/static/trap-regular.eot?#iefix') format('embedded-opentype'),
    url('/static/trap-regular.woff2') format('woff2'),
    url('/static/trap-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trap';
  src: url('/static/trap-light.woff2') format('woff2'),
    url('/static/trap-light.woff') format('woff'),
    url('/static/trap-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brand';
  src: url('/static/Brand.woff2') format('woff2'),
    url('/static/Brand.woff') format('woff'),
    url('/static/Brand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none;
}

.annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 0.9;

  cursor: pointer;
  width: 10px;
  height: 10px;
  /* border: 1px solid rgb(184, 182, 182); */
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  background: #fff;

  transition: 0.1s;
}

.annotation:hover {
  transform: scale(2);

  /* width: 20px; */
  /* height: 20px; */
}

.loader-heading {
  width: max-content;

  font-family: Brand;
  font-size: 32px;
}

.description-heading {
  font-family: Brand;
  font-size: 42px;

  margin-bottom: 16px;
}

.description-text {
  font-family: Trap;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 20px;
}

.description-image {
  margin-top: 15px;
  object-fit: cover;
  background-size: cover;

  transition: 0.25s filter;
}

.description-credits {
  font-family: Trap;
  font-size: 12px;
  color: rgb(92, 93, 95);
  font-weight: 600;

  margin-bottom: 8px;
}

.mt-auto {
  margin-top: auto;
}

.w-30 {
  width: 30%;
}

.row {
  margin-top: 0;
  margin-right: 60px;
}

.description-image:hover {
  cursor: pointer;
  filter: invert(1);
}
